<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="isDifferent()" class="alert alert-info alert-warning">
        <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="main-card">
        <div class="row">
          <div class="col-sm-5">
            <img class="card-img-top img-thumbnail" src="{{user.profilePictureUrl|| '../../../assets/user.png'}}" alt="User's name">
          </div>
          <div class="col-sm-7" style="margin-top: 10px;">
              <h6>Change Profile Photo</h6>
              <div class="row">
                <div class="col-sm-3">
                  <div ng2FileDrop
                  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                  (fileOver)="fileOverBase($event)"
                  [uploader]="uploader"
                  class="card bg-faded p-3 text-center mb-3 my-drop-zone" style="font-size: small;">
                  <i class="fa fa-upload"></i>
                 Drop Photo Here
                  </div>
                </div>
                <div class="col-sm-9">
                  <input type="file" ng2FileSelect single [uploader]="uploader" [(ngModel)]="user.profilePicture" style="color: transparent;"/><br/>
                </div>
              </div>
            <div style="margin-right: 5%; margin-bottom: 5%;" *ngIf="uploader?.queue?.length">
              <h6>Upload queue</h6>
                  <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    </tr>
                    </tbody>
                  </table>
                  <div>
                    Progress:
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success btn-s" style="padding: 5px; font-size: small;"
                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  <span class="fa fa-upload"></span> Upload
                  </button>
                  <button type="button" class="btn btn-danger btn-s" style="padding: 5px; font-size: small;"
                          (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                      <span class="fa fa-trash"></span> Remove
                  </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
            <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
                  <h6 class="mt-2">Known As</h6>
                  <div class="form-group">
                    <input type="text"
                    [ngClass]="{'is-invalid': updateForm.get('knownAs').errors && updateForm.get('knownAs').touched}"
                    class="form-control" formControlName="knownAs" placeholder="Known As">
                    <div class="invalid-feedback">Known As is required</div>
                  </div>
                  <h6 class="mt-2">City</h6>
                    <div class="form-group">
                      <input type="text"
                      [ngClass]="{'is-invalid': updateForm.get('city').errors && updateForm.get('city').touched}"
                      class="form-control"  formControlName="city" placeholder="City">
                      <div class="invalid-feedback">City is required</div>
                    </div>
                  <h6 class="mt-2">State</h6>
                  <div class="form-group">
                    <select [ngClass]="{'is-invalid': updateForm.get('state').errors && updateForm.get('state').touched}"
                      class="form-control" formControlName="state" placeholder="State">
                      <option  *ngFor="let state of states" value="{{state}}">{{state}}</option>
                    </select>
                    <div class="invalid-feedback">State is required</div>
                  </div>
                  <div class="form-group text-center">
                    <button class="btn btn-success" [disabled]="!isDifferent()" type="submit">Update</button>
                    <button class="btn btn-default" type="button" (click)="reset()">Reset</button>
                  </div>
            </form>


      </div>
    </div>
  </div>