<div class="container mt-5">
  <div class="row">
    <div *ngFor="let animal of animals" class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <div>
                <strong>{{animal.name}}</strong>
              </div>
              <div class="row">
                <div class="col md-3">
                    <img class="card-img-top img-thumbnail" src="{{animal.photoUrl || '../../../assets/user.png'}}" alt="{{animal.name}}">
                </div>
                <div class="col md-9">
                  <p>Posted: {{animal.posted | timeago}}</p>
                  <p><i class="fa fa-hourglass"></i> {{timeLefts[animal.id]}} Days Left</p>
                  <p>Saved by {{animal.saves}} people</p>
                </div>
              </div>
              <div id="viewBar">
                <i class="fa fa-eye mr-3"> {{animal.views}}</i><i class="fa fa-heart mr-3"> {{animal.saves}}</i> <i class="fa fa-comment-o"> {{animal.inquiries}}</i>
              </div>
            </div>
            <div class="card-footer">
              <div class="btn-group d-flex">
                <button class="btn btn-success mr-1" [routerLink]="['/messages']" routerLinkActive="router-link-active" > <i class="fa fa-envelope"> Messages</i> </button>
                <button class="btn btn-primary mr-1 ml-1" [routerLink]="['/animal/edit',animal.id]" routerLinkActive="router-link-active" ><i class="fa fa-pencil"> Edit Profile</i></button>
                <button class="btn btn-warning ml-1"><i class="fa fa-check"> Mark As Adopted</i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        