.img-thumbnail {
    margin: 10px;
    object-fit: cover;
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.card-body {
    height: 300px;
    width: 500px;
}

strong {
    font-size: large;
    margin: 10px;
}
