.fullscreen {
    height: 100vh;
  }

h1 {
    padding: 30px;
}

.col {
  text-align: center;
}

body {
  background-image: url(../../assets/background.jpeg);
  background-size: cover;
  background-position: center;
  background-position-y: -20px;
}