
<div *ngIf="!loggedIn()" class="container mt-5">
    <div class="text-center">
      <p>You will need to register as a guardian first.</p>
      <button class="btn btn-primary btn-lg mr-1" [routerLink]="['/register']">Register</button>
    </div>
    <div class="text-center">
      <p>Already have an account?</p>
      <button class="btn btn-primary btn-lg ml-1" [routerLink]="['/login']">Sign-In</button>
    </div>
</div>

<div *ngIf="loggedIn()" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form #animalRegisterForm="ngForm" (ngSubmit)="registerAnimal()">
        <h2 class="text-center text-primary">Create Your Pet's Profile</h2>
        <hr>

        <div class="form-group">
          <input type="text" class="form-control" required name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" required name="gender" placeholder="Gender">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" required name="age" placeholder="Age">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" required name="species" placeholder="Species">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" required name="breed"  placeholder="Breed">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" required name="adoptionFee" placeholder="Adoption Fee ($)">
        </div>
        <div class="form-group">
          <input type="date" class="form-control" required name="adoptBy" placeholder="Adopt By">
        </div>

        <label>Likes</label>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" name="Likes" (click)="addOrRemove('walks','like')"> Walks
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="Likes" (click)="addOrRemove('cuddles','like')"> Cuddles
            </label>
        </div>

        <label>Qualities</label>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" name="Qualities" (click)="addOrRemove('friendly','quality')"> Friendly
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="Qualities" (click)="addOrRemove('energetic','quality')"> Energetic
            </label>
        </div>

        <div class="form-group text-center">
          <button class="btn btn-success" type="submit" (click)="registerAnimal()">Register</button>
          <button class="btn btn-default" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

