.card {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted lightblue;
}

.rounded-circle {
    height: 50px;
    width: 50px;
}

.card-body {
    overflow-y: scroll;
    height: 500px;
    width: 100%;
}
.card-footer {
    width: 100%;
}

img {
    height: 40px;
    width: 40px;
    margin: 10px;

}

.speech-bubble {
    background-color: #ececec;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    justify-content: right;
}

.speech-bubble .arrow {
    border-style: solid;
}
 
.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}