<div class="row" [ngClass]="{'large-info': !mobile, 'small-info': mobile}">
  <div class="col-3">
    <img [ngClass]="{'large-pic': !mobile, 'small-pic': mobile}" class="rounded-circle" src="{{recipient.profilePictureUrl || '../../../assets/user.png'}}"> 
  </div>
  <div class="col-9">
    <h4 *ngIf="!mobile">{{recipient.knownAs}}</h4>
    <h6 *ngIf="mobile">{{recipient.knownAs}}</h6>
    <small>Last Active: {{recipient.lastActive | timeago}}</small>
  </div>
</div>

<div [ngClass]="{'large-card': !mobile, 'small-card': mobile}">
  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet</p>
    </div>
    <ul class="chat">
      <li *ngFor="let message of messages">
        <!-- to them -->
        <div id="cardHolder" *ngIf="message.senderId == this.userId">
          <span class="chat-img float-right">
            <img src="{{message.senderPhotoUrl || '../../../assets/user.png'}}" class="rounded-circle">
          </span>
          <div class="chat-body" style="min-height: 70px;">
            <div class="header">
              <small class="primary-font float-right">{{message.senderKnownAs}}</small>
              <small class="text-muted float-left">
                <span class="fa fa-clock-o">{{message.messageSent | timeago}}  </span>
                <br>
                <span *ngIf="!message.isRead" class="text-danger">(unread)</span>
                <span *ngIf="message.isRead" class="text-success">(read {{message.dateRead | timeago}})</span>
              </small>
            </div>
            <br>
            <div class="speech-bubble float-right">
              {{message.content}}
              <div class="arrow bottom right"></div>
            </div>
          </div>
        </div>

        <!-- to me -->
        <div id="cardHolder" *ngIf="message.senderId != this.userId">
          <span class="chat-img float-left">
            <img src="{{message.senderPhotoUrl || '../../../assets/user.png'}}" class="rounded-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted float-right">
                <span class="fa fa-clock-o">{{message.messageSent | timeago}}</span>
              </small>
              <small class="primary-font">{{message.senderKnownAs}}</small>
            </div>
            <div class="speech-bubble float-left">
              {{message.content}}
              <div class="arrow bottom left"></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input type="text" 
        [(ngModel)]="newMessage.content"
        name="content"
        required
        class="form-control input-sm"
        placeholder="Send a private message">
        <button class="btn btn-primary ml-2" [disabled]="!messageForm.valid">Send</button>
      </div>
    </form>
  </div>
</div>
