.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown {
    margin-right: 5%;
}

.dropdown-toggle {
    float: right;
    transform: translateY(15px);
}



.dropdown-menu{
    max-width: 10px;
}


img {
    max-height: 50px;
    border: 1px solid white;
    display: inline;
}

.main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .main-navigation__menu-btn span {
    display: block;
    width: 2rem;
    height: 2.5px;
    background: white;
  }

  .side-drawer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 70%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  .drawer-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background: rgb(133, 130, 130);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  .side-drawer ul{
      align-items: center;
      margin-top: 200px;
  }

  .side-drawer ul li{
      margin-top: 1rem;
  }
  