.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown {
    margin-right: 5%;
}

.dropdown-toggle {
    float: right;
    transform: translateY(15px);
    margin-left: 10px;
}



.dropdown-menu{
    max-width: 10px;
}

img {
    max-height: 50px;
    border: 1px solid white;
    display: inline;
}