<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" id="mainCard">
        <img class="card-img-top img-thumbnail" src="{{animal.photoUrl || '../../../assets/user.png'}}" alt="{{animal.name}}">
        <div id="mainCardBody" class="card-body">
          <div id="viewBar">
            <i class="fa fa-eye mr-3"> Views {{animal.views}}</i><i class="fa fa-heart mr-3"> Saves {{animal.saves}}</i> <i class="fa fa-comment-o"> Inquiries {{animal.inquiries}}</i>
          </div>
          <hr>
          <div id="innerCard" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{animal.userPhotoUrl}}" alt="Owner Picture">
              </div>
              <div class="col-md-8">
                  <h5 class="card-title">{{animal.userKnownAs}}</h5>
                  <h6>{{animal.username}}</h6>
                  <p class="card-text">{{animal.city}}, {{animal.state}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary w-100 mr-1">Save</button>
          <button class="btn btn-success w-100 ml-1" [routerLink]="['/messages']" routerLinkActive="router-link-active" >Message {{animal.userKnownAs}}</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="tab-panel">
        <tabset class="animal-tabset">
          <tab heading="About">
            <div class="card text-gray bg-light mb-3 mt-3" style="min-height: 250px;">
              <div class="card-body">
                <h3 class="card-title">About {{animal.name}}</h3>
                <hr style="border-color: white">
                <p class="card-text">{{animal.description}}</p>
              </div>
            </div>
            <h4>Likes:</h4>
              <span class="badge badge-info mb-2">Like</span>
            <h4>Qualities:</h4>
              <span class="badge badge-info mb-2">Quality{{animal.qualities}}</span>
            <h4>Good With:</h4>
              <span class="badge badge-info">Good With{{animal.goodWith}}</span>
          </tab>
          <tab heading="Photos">
            <ngx-gallery style="display: inline-block; margin-bottom:20px;" [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery> 
          </tab>
          <tab heading="Messages">
            <p>Messages will go here.</p>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-sm-2">
      <ul class="list-group list-group-flush">
        <span class="badge badge-pill badge-warning">Adoption Fee: ${{animal.adoptionFee}}</span>
        <li class="list-group-item mt-5">{{animal.species | titlecase}}</li>
        <li class="list-group-item">{{animal.gender | titlecase}}</li>
        <li class="list-group-item">{{animal.age}} yrs</li>
      </ul>
    </div>
  </div>
</div>