<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" id="mainCard">
        <div class="container" id="picContainer">
          <img class="card-img-top img-thumbnail" src="{{animal.photoUrl || '../../../assets/user.png'}}" alt="{{animal.name}}">
          <button class="btn btn-primary" (click)="saveAnimal(animal.id)"><i class="fa fa-heart"></i></button>
        </div>
        <div id="mainCardBody" class="card-body">
          <div id="viewBar">
            <i class="fa fa-eye mr-3"> Views {{animal.views}}</i><i class="fa fa-heart mr-3"> Saves {{animal.saves}}</i> <i class="fa fa-comment-o"> Inquiries {{animal.inquiries}}</i>
          </div>
          <hr>
          <div id="innerCard" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                  <img src="{{animal.userPhotoUrl}}" alt="Owner Picture">
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title">{{animal.userKnownAs}}</h5>
                    <h6>@{{animal.username}}</h6>
                  </div>
                  <div class="col">
                    <button id="messageButton" class="btn btn-primary" [routerLink]="['/messages']" routerLinkActive="router-link-active" ><i class="fa fa-envelope"></i></button>
                  </div>
                </div>
                  
                  
                  <p class="card-text">{{animal.city}}, {{animal.state}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="tab-panel">
        <tabset class="animal-tabset">
          <tab heading="About">
            <div class="card text-gray bg-light mb-3 mt-3" style="min-height: 250px;">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h3 class="card-title">About {{animal.name}}</h3>
                  </div>
                  <div class="col" id="timeLeft">
                    <i class="fa fa-hourglass"> {{timeLeft}} Days</i> 
                  </div>
                </div>
                <hr style="border-color: white">
                <p class="card-text">{{animal.description}}</p>
              </div>
            </div>
          
            
            <div class="container">
              <h4 class="row">Likes:</h4>
              <div class="row" style="width: 100%">
                <div *ngFor="let like of animal.likes" class="d-flex mr-1 ml-1"><span class="badge badge-info mb-2">{{like}}</span></div>
              </div>
              <h4 class="row">Qualities:</h4>
              <div class="row">
                <div *ngFor="let quality of animal.qualities" class="d-flex mr-1 ml-1"><span class="badge badge-info mb-2">{{quality}}</span></div>
              </div>
              <h4 class="row">Good With:</h4>
              <div class="row">
                <div *ngFor="let goodWith of animal.goodWith" class="d-flex mr-1 ml-1"><span class="badge badge-info mb-2">{{goodWith}}</span></div>
              </div>
            </div>
            
            
            
      
            
          </tab>
          <tab heading="Photos">
            <ngx-gallery style="display: inline-block; margin-bottom:20px;" [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery> 
          </tab>
          <tab heading="Location">
            <p>Map will go here</p>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-sm-2">
      <ul class="list-group list-group-flush">
        <span class="badge badge-pill badge-warning">Adoption Fee: ${{animal.adoptionFee}}</span>
        <li class="list-group-item mt-5">{{animal.species | titlecase}}</li>
        <li class="list-group-item">{{animal.breed | titlecase}}</li>
        <li class="list-group-item">{{animal.gender | titlecase}}</li>
        <li class="list-group-item">{{animal.age}} yrs</li>
      </ul>
    </div>
  </div>
</div>