<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="container" id="picContainer">
          <span class="adopted" *ngIf="animal.adopted">ADOPTED</span>
          <img class="card-img-top img-thumbnail" [ngClass]="{'transparent' : animal.adopted}" src="{{animal.photoUrl || '../../../assets/user.png'}}" alt="{{animal.name}}">
          <button class="btn btn-primary" *ngIf="!animal.adopted" (click)="saveAnimal(animal.id)"><i class="fa fa-heart"></i></button>
        </div>
        <div class="card-body">
          <div class="viewBar">
            <i class="fa fa-eye mr-3"> Views {{animal.views}}</i><i class="fa fa-heart mr-3"> Saves {{animal.saves}}</i> <i class="fa fa-comment-o"> Inquiries {{animal.inquiries}}</i>
          </div>
          <hr>
          <div class="card" id="innerCard">
            <div class="row no-gutters">
              <div class="col-3 card-img-wrapper" style="margin-right: 10%">
                  <img id="ownerPic" src="{{animal.userPhotoUrl || '../../../assets/user.png'}}" alt="Owner Picture">
                  <button *ngIf="!animal.adopted" class="btn btn-primary animate" (click)="checkAuth()">
                    <i class="fa fa-envelope"></i></button>
              </div>
              <div class="col">
                    <h5 class="card-title">{{animal.userKnownAs}} - @{{animal.username}}</h5>
                    <h6>Last Active: {{animal.userLastActive | timeago}}</h6>
                  <p class="card-text">{{animal.city}}, {{animal.state}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="tab-panel">
        <tabset class="animal-tabset">
          <tab heading="About">
            <div class="card text-gray bg-light mb-3 mt-3" style="min-height: 250px;">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h3 class="card-title">About {{animal.name}}</h3>
                  </div>
                  <div class="col" id="timeLeft">
                    <p>Posted {{animal.posted | timeago}}</p>
                    <i class="fa fa-hourglass"> {{timeLeft}} Days</i> 
                  </div>
                </div>
                <hr style="border-color: white">
                <p class="card-text">{{animal.description}}</p>
              </div>
            </div>
          
            
            <div class="container">
              <h4 class="row">Likes:</h4>
              <div class="row" style="width: 100%">
                <div *ngFor="let like of animalLikes" class="d-flex mr-1 ml-1"><span class="badge badge-info mb-2">{{like.content}}</span></div>
              </div>
              <h4 class="row">Qualities:</h4>
              <div class="row">
                <div *ngFor="let quality of animalQualities" class="d-flex mr-1 ml-1"><span class="badge badge-info mb-2">{{quality.content}}</span></div>
              </div>
              <h4 class="row">Good With:</h4>
              <div class="row">
                <div *ngFor="let goodWith of animalGoodWith" class="d-flex mr-1 ml-1"><span class="badge badge-info mb-2">{{goodWith.content}}</span></div>
              </div>
            </div>
          </tab>
          <tab heading="Photos">
            <ngx-gallery style="display: inline-block; margin-bottom:20px;" [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery> 
          </tab>
          <tab heading="Location">
            <p>Map will go here</p>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-md-2">
      <ul class="list-group list-group-flush">
        <span class="badge badge-pill badge-warning">Adoption Fee: ${{animal.adoptionFee}}</span>
        <li *ngIf="animal.species !== null" class="list-group-item mt-5">{{animal.species | titlecase}}</li>
        <li *ngIf="animal.breed !== null" class="list-group-item">{{animal.breed | titlecase}}</li>
        <li *ngIf="animal.gender !== null" class="list-group-item">{{animal.gender | titlecase}}</li>
        <li class="list-group-item">{{animal.ageYears}} yrs {{animal.ageMonths}} mo </li>
      </ul>
    </div>
  </div>
</div>