#cardContainer .btn {
    position: relative;
    transform: translate(30%, -1070%);
    background-color: rgb(196, 52, 4);
    color: white;
    padding: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }


