
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{animal.name}}'s Profile</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info alert-warning">
        <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{animal.photoUrl}}" alt="{{animal.name}}">
        <div class="card-body">
          <div>
            <strong>Location: </strong>
            <p>{{animal.city}}, {{animal.state}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{animal.age}}</p>
          </div>
          <div>
            <strong>Posted since:</strong>
            <p>{{animal.posted | date}}</p>
          </div>
        </div>
        <div class="card-footer">
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4>Description</h4>
              <textarea name="description" rows="6" class="form-control" 
                [(ngModel)]="animal.description"></textarea>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-editor [animal]="animal"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>