
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{animal.name}}'s Profile</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info alert-warning">
        <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{animal.photoUrl || '../../../assets/user.png'}}" alt="{{animal.name}}">
        <div class="card-footer">
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <div class="row mt-2">
                <div class="col-sm-8">
                  <h4>About {{animal.name}}</h4>
                  <textarea name="description" rows="5" class="form-control" 
                    [(ngModel)]="animal.description"></textarea>
                    <div class="form-group mt-2">
                      <h5>{{animal.name}} likes: </h5>
                      <div class="row">
                        <div class="col-sm-4" *ngFor="let like of this.likes">
                          <div class="form-check" onchange="addToLikes(like)" >
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              {{like}}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <h5>{{animal.name}} is: </h5>
                      <div class="row">
                        <div class="col-sm-4" *ngFor="let quality of this.qualities">
                          <div class="form-check" >
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              {{quality}}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <h5>{{animal.name}} is good with:</h5>
                      <div class="row">
                        <div class="col-sm-4" *ngFor="let goodWith of this.goodWith">
                          <div class="form-check" >
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              {{goodWith}}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">
                  <h6 class="mt-1">Name</h6>
                    <textarea name="name" rows="1" class="form-control" 
                      [(ngModel)]="animal.name"></textarea>
                  <h6 class="mt-2">Adoption Fee</h6>
                    <textarea name="adoptionFee" rows="1" class="form-control" 
                      [(ngModel)]="animal.adoptionFee"></textarea>
                  <h6 class="mt-2">Species</h6>
                    <textarea name="species" rows="1" class="form-control" 
                      [(ngModel)]="animal.species"></textarea>
                  <h6 class="mt-2">Breed</h6>
                    <textarea name="breed" rows="1" class="form-control" 
                      [(ngModel)]="animal.breed"></textarea>
                  <h6 class="mt-2">Gender</h6>
                    <textarea name="gender" rows="1" class="form-control" 
                      [(ngModel)]="animal.gender"></textarea>
                 <h6 class="mt-2">Age</h6>
                    <textarea name="age" rows="1" class="form-control" 
                      [(ngModel)]="animal.age"></textarea>
                </div>
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-editor [animal]="animal"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>