
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{animal.name}}'s Profile</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info alert-warning">
        <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{animal.photoUrl || '../../../assets/user.png'}}" alt="{{animal.name}}">
        <div class="card-footer">
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateAnimal()">
              <div class="row mt-2">
                <div class="col-sm-8">
                  <h5 class="mt-1">Name</h5>
                    <textarea name="name" rows="1" class="form-control mb-3" [(ngModel)]="animal.name"></textarea>
                  <h5>Description</h5>
                  <textarea name="description" rows="5" class="form-control" 
                    [(ngModel)]="animal.description"></textarea>
                  <div class="row">
                    <div class="col">
                      <h6 class="mt-2">Pet Type</h6>
                      <select class="form-control" id="petType" name="species" rows="1" [(ngModel)]="animal.species">
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                    <div class="col">
                      <h6 class="mt-2">Breed</h6>
                      <textarea name="breed" rows="1" class="form-control" [(ngModel)]="animal.breed"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <h6 class="mt-2">Gender</h6>
                    <select name="gender" rows="1" class="form-control" [(ngModel)]="animal.gender">
                      <option>Female</option>
                      <option>Male</option>
                    </select>
                  <h6 class="mt-2">Age</h6>
                    <p>Years:</p>
                    <textarea name="ageYears" rows="1" class="form-control" [(ngModel)]="animal.ageYears"></textarea>
                    <p>Months:</p>
                    <textarea name="ageMonths" rows="1" class="form-control" [(ngModel)]="animal.ageMonths"></textarea>
                  <h6 class="mt-2">Adoption Fee</h6>
                    <textarea name="adoptionFee" rows="1" class="form-control" [(ngModel)]="animal.adoptionFee"></textarea>
                  <h6 class="mt-2">Adopt By</h6>
                    <input type="date" name="adoptBy" rows="1" class="form-control" [(ngModel)]="animal.adoptBy">
                </div>
              </div>
            </form>
          </tab>
          <tab heading="Edit Tags">
            <div *ngFor="let like of likes">
              <input type="checkbox" [(ngModel)]="this.animalLikes[like]" (click)="addOrRemoveTag(like,'like')"> {{like}}
            </div>
            <div *ngFor="let quality of qualities">
              <input type="checkbox" [(ngModel)]="this.animalQualities[quality]" (click)="addOrRemoveTag(quality,'quality')"> {{quality}}
            </div>
            <div *ngFor="let goodWith of goodWith">
              <input type="checkbox" [(ngModel)]="this.animalGoodWith[goodWith]" (click)="addOrRemoveTag(goodWith,'goodWith')"> {{goodWith}}
            </div>
            <button form="editForm" class="btn btn-success btn-block">Save Changes</button>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-editor [animal]="animal"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>