table {
    margin-top: 15px;
}

.img-circle {
    max-height: 50px;
}

td {
    vertical-align: middle;
}

img {
    margin-right: 10px;
}

.btn-group {
    margin-left: 2.5%;
}

h3 {
    margin-left: 5%;
    margin-top: 2%;
}